.todo {
  background-color: blueviolet;
  width: 400px;
  height: 50px;
  margin: 5px auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 7px;
  position: relative;
}
.todo button {
  background-color: teal;
  border: none;
  color: white;
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.todo button:focus {
  outline: none;
}
