body {
  background-color: rgb(235, 210, 210);
}
.App {
  /* background-color: gray; */
  background-image: url(./photo-1514782831304-632d84503f6f.jfif);
  background-position: center;

  min-height: 600px;
  width: 500px;
  margin: 40px auto;
}
.toDoForm input {
  background-color: rgb(209, 222, 226);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px 40px 20px 55px;
  font-size: 18px;
  border-radius: 10px;
  color: rgb(110, 97, 97);
}
.toDoForm input::placeholder {
  color: lightslategray;
}
.toDoForm input:focus {
  outline: none;
}
.toDoForm button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(101, 93, 182);
  cursor: pointer;
  outline: none;
}
